<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.smzdm.dao.NewsMapper">
    <insert id="insert" parameterType="com.cskaoyan.smzdm.domain.News">
        INSERT INTO news VALUES (null, #{image}, #{title}, #{link}, #{createdDate},#{commentCount},#{commentCount}, #{uid})
    </insert>

    <update id="incrLikeByNewId">
        UPDATE news SET likeCount=likeCount+1 WHERE id=#{newsId}
    </update>
    <update id="reduceLikeByNewId">
         UPDATE news SET likeCount=likeCount-1 WHERE id=#{newsId}
    </update>

    <select id="showNews" resultType="com.cskaoyan.smzdm.domain.News">
        SELECT * FROM news
    </select>

</mapper>
